@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-gradient-border {
  border: 1px solid transparent; /* Set border size and style */
  border-image-source: linear-gradient(
    157.16deg,
    #3ed5dd -14.7%,
    rgba(223, 232, 232, 0.29) 99.02%
  );
  border-image-slice: 1;
}

button:hover {
  opacity: 70%;
}
